* {
	margin: 0;
	padding: 0;
}

body {
	background: $main-bg url('../img/texture.png');
	background-size: cover;
	font: 18px $body-text;

	@media screen and (min-width: 900px) {
		font-size: 21px;
	}
}