.witch {
	display: none;

	@media screen and (min-width: 525px) {
		display: inline-block;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		width: 100%;
	}

	@media screen and (min-width: 650px) {
		grid-row-start: 2;
	}

	@media screen and (min-width: 900px) {
		grid-column-start: 2;	
		grid-column-end: 3;	
		grid-row-start: 1;
		grid-row-end: 2;
	}
}

.skull {
	display: none;

	@media screen and (min-width: 650px) {
		display: inline-block;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		width: 100%;
	}

	@media screen and (min-width: 900px) {
		display: none;
	}
}

.farmer {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	width: 100%;

	@media screen and (min-width: 525px) {
		grid-column-start: 2;
	}

	@media screen and (min-width: 650px) {
		grid-row-start: 2;
	}

	@media screen and (min-width: 900px) {
		grid-column-start: 3;	
		grid-column-end: 4;	
		grid-row-start: 1;
		grid-row-end: 2;
	}
}

.giants {
	display: none;

	@media screen and (min-width: 900px) {
		display: inline-block;
		width: 100%;
		grid-column-start: 1;	
		grid-column-end: 3;	
		grid-row-start: 3;
		grid-row-end: 5;
	}
}

.bull {
	display: none;
}