.img-small {
	width: 200px;
}

.witch {
	background-color: $extra-dark;
}
.skull {
	background-color: $accent-dark;
}
.farmer {
	background-color: $accent-light;
}
.devil {
	background-color: $extra-light;
}

.img-medium {
	width: 400px;
}

.giants {
	background-color: $complement-light;
}

.img-large {
	width: 800px;
}

.bull {
	background-color: $complement-dark;
}