//Colors

$main-bg: #AD050F;
$accent-light: #FFF152;
$accent-dark: #662483;
$complement-light: #F39300;
$complement-dark: #008ECF;
$extra-light: #FEEDDE;
$extra-dark: #1CA84D;


//Typography

$titles: 'Sigmar One', sans-serif;
$body-text: 'Open Sans', sans-serif;
